#Answer {
  margin: 10px;

  border-radius: 30px;
  border: 2px solid #ffffff;

  padding-left: 15px;
  padding-right: 15px;
}

#cardHeader {
  text-align: left;
}

#answerText {
  text-align: left;
}

.unanswered {
  color: red;
}
