#LogoHeader {
  height: 60px;
  /*background-color: #7db4b5;*/
  background-color: #3F51B5;
  
  border-radius: 8px 8px 0 0;
  -webkit-transition: border 0.2s linear,
    background-color 0.35s ease;
}

#LogoTitle {
  text-align: center;
  padding-top: 13px;
  font-size: 28px;
  font-family: "Damion";
  color: #ffffff;
}