#sidebarsteve {
  width: 25%;
  float: left;
  overflow:auto;

  border-right: 5px solid #e91e63;
}

#question-title {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
  font-size: 24px;
  border-bottom: 2px solid blue;
  padding: 5px 45px 5px 5px;
  margin-left: 0px;
  display: inline;
  float: left;
}
body {
  height: 100%;
  background-color: #81d4f9;
}
.topnav {
  overflow: hidden;
  background-color: #b3e5fb;
  border: 3px solid #673AB7;
  border-radius: 4px;
  width: 300px;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 2px  3px #9adcfa inset;
}
.topnav a {
  float: right;
  width: 10%;
  display: block;
  color: blue;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 24px;
}
.topnav a:hover {
  background-color: green;
}
.topnav input[type="text"] {
  width: 75%;
  float: left;
  padding: 0px;
  border: none;
  font-size: 18px;
  color: black;
  background-color: #b3e5fb;
  vertical-align: middle;
  margin: 10px 10px;
}

.sideDrawer {
  width: 250px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  margin: auto;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.question {
  display: inline-block;
  position: static;
  border: 1px solid black;
  border-radius: 5px;
  width: 95%;
  box-shadow: 2px 2px  3px #e91e63;;
  /* margin: 0px auto; */
  margin-top: 25px;
  background-color: #fcd9d6;
}
.upvote {
  float: left;
  color: blue;
  background-color: green;
  border: none;
  margin: auto;
  display: block;
}
.columnA {
  width: 40px;
  height: 100%;
  /*float: left;*/
  border-right: 1px solid black;
  text-align: center;
}
.columnB {
  flex: 1;
  margin: 5px 10px 5px 10px;
  font-family: Arial;
}

.row {
  display: flex;
  width: 100%;
  height: 80px;
}

/* Hover effect on row for feedback */
.row:hover {
  background-color: #dfe3ee;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
